{{#each this}}
<div class="country-card">
    <h2 class="name">{{name}}</h2>
    <div class="information">
        <div>
            <ul>
                <li class="capital">Столица: {{capital}}</li>
                <li class="population">Население: {{population}}</li>
                <li class="languages">
                    <ul>
                        {{#each languages}}
                        <li>язык: {{this.name}}</li>
                        {{/each}}
                    </ul>
                </li>`
            </ul>
        </div>
        <div class="flag">
            <img class="flag" src={{flag}} alt="{{name}}" height="300px">
        </div>
    </div>

</div>
{{/each}}